{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h1>Log In</h1>
    {% if error %}
        <div class="alert alert-danger mt-5" role="alert">
            Wrong Login or Password!
        </div>
    {% endif %}
    <form class="form mt-5" method="POST" action="/login/" novalidate>
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Submit</button>
        {% endbuttons %}

    </form>

{% endblock content %}