{% extends 'base.html' %}

{% load static %}
{% load bootstrap4 %}

{% block content %}
    <h1>Sign Up</h1>
    {% if error %}
        <div class="alert alert-danger mt-5" role="alert">
            User with this Nickname exists!
        </div>
    {% endif %}
    <form class="form mt-5" method="POST" enctype="multipart/form-data" action="/registr/" novalidate>
        {% csrf_token %}

        <div class="form-group">
            <label for="exampleInputPassword1">Login</label>
            {% bootstrap_field reg_form.username show_label=False %}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Email</label>
            {% bootstrap_field reg_form.email show_label=False %}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Nickname</label>
            {% bootstrap_field profile_form.nickname show_label=False %}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {% bootstrap_field reg_form.password1 show_label=False %}
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            {% bootstrap_field reg_form.password2 show_label=False %}
        </div>
        <div class="form-group row">
            <label for="photo" class="col-sm-2 col-form-label mt-3"><h5>Photo</h5></label>
            <div class="col-sm-10 mt-3">
                {% bootstrap_field profile_form.avatar show_label=False %}
            </div>
        </div>
        <div class="form-group row">
            <label for="confirm" class="col-sm-2 col-form-label mt-1"></label>
            <div class="col-sm-10 mt-1">
                {% buttons %}
                    <button type="submit" class="btn btn-primary">Submit</button>
                {% endbuttons %}
            </div>
        </div>
    </form>

{% endblock content %}